<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{ svg_width }}" height="{{ svg_height }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    {% for id in svg_glyphs %}
    <path id="{{ id }}" d="{{ svg_glyphs[id].d }}" transform="scale({{ text_scale }},{{ -text_scale }})"/>
    {% endfor %}
  </defs>
  <rect width="{{ svg_width }}" height="{{ svg_height }}" fill="#fff"/>
  {% for block in block_values %}
  <image x="{{ block.sprite_x }}" y="{{ block.sprite_y }}" width="{{ block.sprite_width }}" height="{{ block.sprite_height }}" image-rendering="optimizeSpeed" xlink:href="{{ block.sprite_href }}"/>
  {% endfor %}
  {% for block in block_values %}
    {# I have to use namespace() here becouse scope protection in newer versions of jinja does not allow changing a variable in a loop if it was set outside of that loop #}
    {% set position_x = namespace(value = block.text_x) %}
    {% for id in block.text_tspan_unicode_list %}
  <use xlink:href="#{{ id }}" x="{{ '%0.2f' % (position_x.value + text_offset_x) }}"  y="{{ block.text_y + text_offset_y }}" />
      {% set position_x.value = position_x.value + svg_glyphs[id]['horiz-adv-x'] * text_scale %}
    {% endfor %}
  {% endfor %}
</svg>
